.page{
    background-color:#ffffff ;
    width: 100%;
    height: 100vh;
}
.top{
    position: fixed;
    width: 100%;
}
.tit{
  color: #041C32;
  font-size: 40px;
}
.mainTable{
    width: 1200px;
    margin-top: 120px;
    height:93vh;
    position: absolute;
    left:18%;
    font-size: 20px;
    border-collapse: collapse;
}
.bSM {
    appearance: none;
    background-color: #041C32;
    top: -3%;
      right: 0%;
    position: absolute;
      color: white;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    will-change: transform;
  }
  
  .bSM:disabled {
    pointer-events: none;
  }
  
  .bSM:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: white;
    color:black
  }
  
  .bSM:active {
    box-shadow: none;
    transform: translateY(0);
  }
